
/* Your CSS Code here. */
table,th,td{
border : 1px solid black;
}

th{
	background-color:brown;
}
.sec{
	background-color:orange;
}
.thir{
	background-color:skyblue;
}
.four{
	background-color:gray;
}